<p class="mess">Create an account, share your cocktails, update them anytime!</p>
<div class="show_all">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail do  %>
    <div class="card">
      <h3><%= cocktail.name %></h3>
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <% end %>
  <% end %>
</div>

  <p class="total"><%= @cocktails.count %> cocktails listed</p>




