  <h1 class="top_h1">Create a new cocktail</h1>
  <hr>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create" %>
  <% end %>
