<div class="banner">
  <div class="flex-container">
    <a class="" href="/">
    <div class="logo"><%= image_tag "mixin.png" %></div>
    <%= link_to 'Create a new cocktail!', new_cocktail_path, class: "btn btn-primary" %>
    </a>
  </div>
</div>



