@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.show_all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
}


.card {
  margin: 20px;
  position: relative;
  text-align: center;
  border: 1px solid purple;
  opacity: 0.8;
  transition: 0.8s;

  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    position: absolute;
    color: white;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  &:hover {
    border: 1px solid black;
    box-shadow:1px 1px rgba(218,112,214, 0.6);
    opacity: 1;
  }
}

.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-align:center;
  justify-content: center;
  font-family: 'Righteous', cursive;
  border: 0px solid white;
  border-radius: 10px;

  .btn{
    color: white;
  }

  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    margin: 20px;
  }

    h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }

    p {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

.total{
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top: 30px;
}

