.show_all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  margin: 20px;
  position: relative;
  text-align: center;

  img {
    width: 200px;
    height: 200px;
  }

  h2 {
    position: absolute;
    color: white;
    text-align: center;
    text-transform: capitalize;
  }
  &:hover {
    border: 1px solid black;
    box-shadow: 5px 5px purple;
  }
}

.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;


  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    margin: 20px;
  }

    h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }

    p {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

