@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

//--------index page cards----------//
.show_all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
}


.card {
  margin: 20px;
  position: relative;
  text-align: center;
  border: 2px solid purple;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.3s;


  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    position: absolute;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  &:hover {
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}

//---------show page card--------//
.card-product {
  overflow: hidden;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-align:center;
  justify-content: center;
  font-family: 'Righteous', cursive;
  border: 0px solid white;
  border-radius: 15px 50px;

  .btn{
    color: white;
  }

  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    margin: 20px;
    border: 0px solid white;
    border-radius: 5px;
    display: block;
    border-radius: 15px 50px;
  }

    h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }

    p {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}

.total{
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top: 10px;
}

@media only screen and (max-width: 900px) {
  .card-product{
    flex-direction: column;
  }
  .btn{
    margin: 5px 0 5px 0;
  }
}

@media only screen and (max-width: 400px) {
  .card-product > img{
    width: 150px;
  }
}


