// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Righteous', cursive;
}

.container{
  position: relative;
  width: 60%;
}

@media only screen and (max-width: 900px) {
  .container{
    padding-bottom: 60px;
}
}
.container a {
  text-decoration: none;
  color: black;
}

.top_h1{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  // background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.4); /* For browsers that do not support gradients */
  font-family: 'Righteous', cursive;
}


